/*
 * We must expect that this config will be bundled into both client and server.
 * Nothing too sensitive here!
 */
module.exports = {
    maxConcurrentConnections:   3,
    tubeServerPort:             7070,
    easyRTCPort:                7071,
    youtubeBrowserApiKey:       '',
    databasePath:               __dirname + '/goontube.db',
    staticPath:                 __dirname + '/static'
}
