@import variables

html
    font-smoothing:     antialiased

body
    margin:             0 0

    font:
        family:         $font-stack
        size:           $base-font-size

.spinning
    -webkit-animation: spin 1000ms infinite linear
    animation: spin 1000ms infinite linear

@-webkit-keyframes spin
    0%
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)
    100%
        -webkit-transform: rotate(359deg)
        transform: rotate(359deg)

@keyframes spin
    0%
        -webkit-transform: rotate(0deg)
        transform: rotate(0deg)

    100%
        -webkit-transform: rotate(359deg)
        transform: rotate(359deg)

.modal-dialog
    border-radius:      0 !important

.modal-content
    border-radius:      0 !important

    .modal-header
        background:     rgb(241, 241, 241)
        color:          rgb(36, 36, 36)

        &.seq-error
            background: rgb(221, 95, 73)
            color:      rgb(237, 237, 234)
        &.seq-ready
            background: rgb(119, 223, 87)
            color:      rgb(232, 232, 232)

.content-pane
    padding: 0.5em 0.5em
