@import variables

.sitebar
    width:      100%
    background: $tube-orange

.chat
    overflow-y: scroll

#goontube
    width: $container-width
    margin: 0 auto

    @media screen and (max-width: $container-width - 1)
        width: 100% !important
