@import variables

ul.playlist
    padding-left: 0.3em

    .entry
        font-size:  0.75em
        margin:     0.25em 0.5em
        border:     none
        .row
            padding:    0.5em 1em
            &:hover
                cursor: pointer
                background: rgb(96, 96, 96)

        .title
            color:              rgb(27, 27, 27)
            font-size:          1.2em
            font-weight:        bolder

        .meta
            font-size:          0.75em
            color:              rgb(145, 145, 145)
            letter-spacing:     1.25px
            font-weight:        300

            .duration
                font-weight:    bold
