@import variables

.dropdown-menu
    border-radius: 0 !important
    background: $tube-orange

.sitebar
    padding: 0.3em 0.3em
    padding-left: 0.5em

    .btn
        font-size: 1em
        text-transform: uppercase
        background: transparent
        border-radius: 0
        border-color: rgb(0, 0, 0)
        padding: 0.25em 0.25em
        color: rgb(0, 0, 0)
        margin-right: 0.5em

        &:hover
            background: rgb(10, 10, 10)
            color: rgb(235, 235, 235)
