html {
  font-smoothing: antialiased; }

body {
  background: #222222;
  margin: 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px; }

.sitebar {
  width: 100%;
  background: #ffa800; }

.playlist {
  background: #444444;
  overflow-y: scroll; }

.content-pane {
  overflow-y: hidden;
  background: #373737;
  color: #d1d1d1; }

.user-list {
  overflow-y: scroll; }

img.banner-image {
  width: 100%;
  height: auto; }

.chat .chat-list {
  overflow-y: scroll; }
  .chat .chat-list ul {
    list-style-type: none;
    padding: 0.5em 0.5em; }

.chat .chat-input {
  width: 100%; }

#goontube {
  width: 960px;
  margin: 0 auto; }
  @media screen and (max-width: 959px) {
    #goontube {
      width: 100% !important; } }

.chat {
  background: #ffffff; }

ul.chat-list {
  list-style-type: none;
  padding: 0.3em 0.3em;
  overflow-x: hidden;
  width: 100%; }
  ul.chat-list .message {
    padding: 0.2em 0.2em; }
    ul.chat-list .message .from {
      font-weight: bold; }
    ul.chat-list .message .body {
      padding-left: 0.3em; }
    ul.chat-list .message .from, ul.chat-list .message .body {
      display: inline-block; }

ul.playlist {
  padding-left: 0.3em; }
  ul.playlist .entry {
    font-size: 0.75em;
    margin: 0.25em 0.5em;
    border: none; }
    ul.playlist .entry .row {
      padding: 0.5em 1em; }
      ul.playlist .entry .row:hover {
        cursor: pointer;
        background: #606060; }
    ul.playlist .entry .title {
      color: #1b1b1b;
      font-size: 1.2em;
      font-weight: bolder; }
    ul.playlist .entry .meta {
      font-size: 0.75em;
      color: #919191;
      letter-spacing: 1.25px;
      font-weight: 300; }
      ul.playlist .entry .meta .duration {
        font-weight: bold; }

.playlist-container {
  overflow: hidden; }

#goontube [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }
