html {
  font-smoothing: antialiased; }

body {
  margin: 0 0;
  background: #222222;
  font-family: "Open Sans", sans-serif;
  font-size: 17px; }

#origin {
  height: 100%; }

.spinning {
  animation: spin 1000ms infinite linear; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.modal-dialog {
  border-radius: 0 !important; }

.modal-content {
  border-radius: 0 !important; }
  .modal-content .modal-header {
    background: #f1f1f1;
    color: #242424; }
    .modal-content .modal-header.seq-error {
      background: #dd5f49;
      color: #ededea; }
    .modal-content .modal-header.seq-ready {
      background: #77df57;
      color: #e8e8e8; }

.content-pane {
  padding: 0.5em 0.5em; }

.sitebar {
  width: 100%; }

.playlist {
  background: #444444;
  overflow-y: scroll; }

.content-pane {
  overflow-y: hidden;
  background: #373737;
  color: #d1d1d1; }

.user-list {
  overflow-y: scroll;
  padding: 0.3em 0.3em; }

img.banner-image {
  width: 100%;
  height: auto; }

.chat .chat-list {
  overflow-y: scroll; }
  .chat .chat-list ul {
    list-style-type: none;
    padding: 0.5em 0.5em; }

.chat .chat-input {
  width: 100%; }

#app {
  height: 100%; }

#goontube {
  width: 960px;
  margin: 0 auto; }
  @media screen and (max-width: 959px) {
    #goontube {
      width: 100% !important; } }

.chat {
  background: #ffffff; }

.chat-input input:focus {
  outline: none; }

ul.chat-list {
  list-style-type: none;
  padding: 0.3em 0.3em;
  overflow-x: hidden;
  width: 100%; }
  ul.chat-list .message {
    padding: 0.2em 0.2em;
    font-size: 0.875em; }
    ul.chat-list .message.system {
      font-size: 0.75em;
      font-weight: bold;
      text-transform: uppercase;
      color: #4d4d4d; }
    ul.chat-list .message .from {
      font-weight: bold; }
    ul.chat-list .message .body {
      padding-left: 0.3em; }
    ul.chat-list .message .from, ul.chat-list .message .body {
      display: inline-block; }

.footer-info {
  background: #2a2a2a;
  padding-left: 0.5em;
  font-size: 0.85em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.125px;
  color: #444444; }

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em; }

::-webkit-scrollbar-thumb {
  background: #1b1b1b; }

::-webkit-scrollbar-track {
  background: #8d8d8d; }

body {
  scrollbar-face-color: #1b1b1b;
  scrollbar-track-color: #8d8d8d; }

.controls {
  padding-top: 0.3em;
  padding-bottom: 0.3em; }
  .controls .btn {
    text-transform: uppercase;
    background: transparent;
    border-radius: 0;
    padding: 0.25em 0.25em;
    color: #c9c9c9; }
    .controls .btn:hover {
      background: #c9c9c9;
      color: #090909; }

ul.playlist {
  padding-left: 0.15em; }
  ul.playlist ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em; }
  ul.playlist ::-webkit-scrollbar-thumb {
    background: #2f2f2f; }
  ul.playlist ::-webkit-scrollbar-track {
    background: #979797; }
  ul.playlist body {
    scrollbar-face-color: #2f2f2f;
    scrollbar-track-color: #979797; }
  ul.playlist .entry {
    font-size: 0.675em;
    margin: 0.25em 0.5em;
    border: 4px solid #2f2f2f; }
    ul.playlist .entry .btn {
      background: transparent;
      color: #8f8f8f !important;
      border-color: #3e3e3e;
      border-radius: 20px;
      border-width: 0;
      text-shadow: 1px 1px 2px black;
      transition: color 0.1s ease-in; }
      ul.playlist .entry .btn:focus {
        outline: none; }
      ul.playlist .entry .btn:hover {
        color: #6e6e6e !important; }
    ul.playlist .entry .row {
      margin: 0 0;
      padding: 0.5em 1em; }
      ul.playlist .entry .row:hover {
        cursor: pointer;
        background: #606060; }
    ul.playlist .entry .title {
      color: #1b1b1b;
      font-size: 1.2em;
      font-weight: bolder; }
    ul.playlist .entry .meta {
      font-size: 0.75em;
      color: #919191;
      letter-spacing: 1.25px;
      font-weight: 300; }
      ul.playlist .entry .meta .duration {
        font-weight: bold; }

.dropdown-menu {
  border-radius: 0 !important; }

.sitebar {
  padding: 0.3em 0.3em;
  padding-left: 0.5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center; }
  .sitebar .btn-toolbar {
    display: inline-block; }
  .sitebar .title {
    color: #111111;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    font-size: 1.2em;
    font-weight: bold; }
  .sitebar .btn {
    font-size: 1em;
    text-transform: uppercase;
    background: transparent;
    border-radius: 0;
    border-color: black;
    padding: 0.25em 0.25em;
    color: black;
    margin-right: 0.5em; }
    .sitebar .btn:hover {
      background: #0a0a0a;
      color: #ebebeb; }

#easyrtcErrorDialog {
  background-color: #ffe0e0;
  right: 10px;
  top: 20px;
  z-index: 30;
  opacity: 0.95;
  padding: 0.5em;
  border-radius: 10px;
  border-color: red;
  border-style: solid;
  border-width: 1px;
  box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.9); }

.easyrtcErrorDialog_title {
  position: static;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5em;
  clear: both; }

#easyrtcErrorDialog_body {
  position: static;
  height: 150px;
  overflow-y: auto; }

.easyrtcErrorDialog_element {
  position: static;
  font-style: italic;
  font-size: 12px;
  width: 300px;
  margin-bottom: 0.5em;
  clear: both;
  float: left; }

.easyrtcErrorDialog_okayButton {
  position: static;
  clear: both;
  float: right; }

.easyrtcMirror {
  transform: scaleX(-1); }

.easyrtc_closeButton {
  z-index: 2;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0px;
  top: 0px;
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g stroke="#b0b0b0" stroke-width="7" ><g>		<path  d="M76.03,79.854c-0.979,0-1.958-0.373-2.704-1.12L21.184,26.592c-1.494-1.494-1.494-3.915,0-5.409c1.494-1.493,3.915-1.493,5.409,0l52.143,52.142c1.494,1.494,1.494,3.915,0,5.409C77.988,79.481,77.01,79.854,76.03,79.854z"/></g><g><path d="M23.888,79.854c-0.979,0-1.958-0.373-2.704-1.12c-1.494-1.494-1.494-3.915,0-5.409l52.142-52.142c1.493-1.493,3.915-1.493,5.409,0c1.494,1.494,1.494,3.915,0,5.409L26.593,78.734C25.846,79.481,24.867,79.854,23.888,79.854z"/></g></g><g fill="#000000"><g><path  d="M76.03,79.854c-0.979,0-1.958-0.373-2.704-1.12L21.184,26.592c-1.494-1.494-1.494-3.915,0-5.409c1.494-1.493,3.915-1.493,5.409,0l52.143,52.142c1.494,1.494,1.494,3.915,0,5.409C77.988,79.481,77.01,79.854,76.03,79.854z"/></g><g><path d="M23.888,79.854c-0.979,0-1.958-0.373-2.704-1.12c-1.494-1.494-1.494-3.915,0-5.409l52.142-52.142c1.493-1.493,3.915-1.493,5.409,0c1.494,1.494,1.494,3.915,0,5.409L26.593,78.734C25.846,79.481,24.867,79.854,23.888,79.854z"/></g></g></svg>');
  opacity: 0.3; }

.easyrtc_closeButton:hover {
  opacity: 1; }

.playlist-container {
  overflow: hidden; }

#goontube [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important; }
