html {
  font-smoothing: antialiased; }

body {
  margin: 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px; }

#origin {
  width: 960px;
  margin: 0 auto; }
  @media screen and (max-width: 959px) {
    #origin {
      width: 100% !important; } }

.playlist {
  background: #444444; }
